{% extends 'base.html' %}

<!--prettier-ignore-->
{% block content %}

    {% include 'main/snippets/plot1.html' %}
    {% include 'main/snippets/plot2.html' %}
    {% include 'main/snippets/plot3.html' %}
    {% include 'main/snippets/plot4.html' %}

{% endblock content %}

<!--prettier-ignore-->
{% block script %}
<script src="{{ url_for ('static', filename='node_modules/apexcharts/dist/apexcharts.min.js') }}"></script>
<script>

  // PLOT 1
  {
      let series1 = {
          name: "V-10",
          data: {{ data_v10 | tojson | safe }}
      };

      let series2 = {
          name: "V-11",
          data: {{ data_v11 | tojson  | safe  }}
      };

      let plotOptions1 = {
          xaxis: {
              type: 'datetime',
              labels: {
                  show: true,
                  offsetY: -5,
                  offsetX: 15,
                  datetimeUTC: false,
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'py-4 text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  }
              },
              axisBorder: {
                  show: false,
              },
              axisTicks: {
                  show: false,
              },
              title: {
                  text: "Waktu",
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
              },
          },
          yaxis: {
              show: true,
              labels: {
                  show: true,
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
                  formatter: function (value) {
                      return '⚡ ' + value;
                  }
              },
              title: {
                  text: "Watt",
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
              },

          },
          series: [series1, series2],
          chart: {
              sparkline: {
                  enabled: false
              },
              height: "100%",
              width: "100%",
              type: "area",
              fontFamily: "Inter, sans-serif",
              dropShadow: {
                  enabled: false,
              },
              toolbar: {
                  show: false,
              },
          },
          tooltip: {
              enabled: true,
              x: {
                  show: false,
              },
          },
          fill: {
              type: "gradient",
              gradient: {
                  opacityFrom: 0.55,
                  opacityTo: 0,
                  shade: "#1C64F2",
                  gradientToColors: ["#1C64F2"],
              },
          },
          dataLabels: {
              enabled: false,
          },
          stroke: {
              width: 6,
          },
          legend: {
              show: true,
              position: 'top',
              horizontalAlign: 'right',
          },
          grid: {
              show: false
          }
      }
      if (document.getElementById("chart-1") && typeof ApexCharts !== 'undefined') {
          const chart1 = new ApexCharts(document.getElementById("chart-1"), plotOptions1);
          chart1.render();

          var resetCssClasses = function (activeEl) {
              var els = document.querySelectorAll('button')
              Array.prototype.forEach.call(els, function (el) {
                  el.classList.remove('active')
              })

              activeEl.target.classList.add('active')
          }

          document
              .querySelector('#p1_today')
              .addEventListener('click', function (e) {
                  resetCssClasses(e)

                  chart1.zoomX(
                      new Date('15 Aug 2023').getTime()
                  )
              })

          document
              .querySelector('#p1_one_week')
              .addEventListener('click', function (e) {
                  resetCssClasses(e)

                  chart1.zoomX(
                      new Date('15 Aug 2022').getTime(),
                      new Date('15 Aug 2023').getTime()
                  )
              })

          document
              .querySelector('#p1_one_month')
              .addEventListener('click', function (e) {
                      resetCssClasses(e)

                      chart1.zoomX(
                          new Date('15 Jul 2023').getTime(),
                          new Date('15 Aug 2023').getTime()
                      )
                  }
              )
      }
  }

  // PLOT 2
  {
      let series1 = {
          name: "V-10",
          data: {{ data_v10 | tojson | safe }}
      };

      let plotOptions2 = {
          xaxis: {
              type: 'datetime',
              labels: {
                  show: true,
                  offsetY: -5,
                  offsetX: 15,
                  datetimeUTC: false,
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'py-4 text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  }
              },
              axisBorder: {
                  show: false,
              },
              axisTicks: {
                  show: false,
              },
              title: {
                  text: "Waktu",
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
              },
          },
          yaxis: {
              show: true,
              labels: {
                  show: true,
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
                  formatter: function (value) {
                      return '⚡ ' + value;
                  }
              },
              title: {
                  text: "Watt",
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
              },

          },
          series: [series1],
          chart: {
              sparkline: {
                  enabled: false
              },
              height: "100%",
              width: "100%",
              type: "area",
              fontFamily: "Inter, sans-serif",
              dropShadow: {
                  enabled: false,
              },
              toolbar: {
                  show: false,
              },
          },
          tooltip: {
              enabled: true,
              x: {
                  show: false,
              },
          },
          fill: {
              type: "gradient",
              gradient: {
                  opacityFrom: 0.55,
                  opacityTo: 0,
                  shade: "#1C64F2",
                  gradientToColors: ["#1C64F2"],
              },
          },
          dataLabels: {
              enabled: false,
          },
          stroke: {
              width: 6,
          },
          legend: {
              show: true,
              position: 'top',
              horizontalAlign: 'right',
          },
          grid: {
              show: false
          }
      }
      if (document.getElementById("chart-2") && typeof ApexCharts !== 'undefined') {
          const chart2 = new ApexCharts(document.getElementById("chart-2"), plotOptions2);
          chart2.render();

          var resetCssClasses = function (activeEl) {
              var els = document.querySelectorAll('button')
              Array.prototype.forEach.call(els, function (el) {
                  el.classList.remove('active')
              })

              activeEl.target.classList.add('active')
          }

          document
              .querySelector('#p2_today')
              .addEventListener('click', function (e) {
                  resetCssClasses(e)

                  chart2.zoomX(
                      new Date('15 Aug 2023').getTime()
                  )
              })

          document
              .querySelector('#p2_one_week')
              .addEventListener('click', function (e) {
                  resetCssClasses(e)

                  chart2.zoomX(
                      new Date('15 Aug 2022').getTime(),
                      new Date('15 Aug 2023').getTime()
                  )
              })

          document
              .querySelector('#p3_one_month')
              .addEventListener('click', function (e) {
                      resetCssClasses(e)

                      chart2.zoomX(
                          new Date('15 Jul 2023').getTime(),
                          new Date('15 Aug 2023').getTime()
                      )
                  }
              )
      }
  }

  // PLOT 3
  {
      let series1 = {
          name: "V-10",
          data: {{ data_v13 | tojson | safe }}
      };

      let plotOptions3 = {
          xaxis: {
              type: 'datetime',
              labels: {
                  show: true,
                  offsetY: -5,
                  offsetX: 15,
                  datetimeUTC: false,
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'py-4 text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  }
              },
              axisBorder: {
                  show: false,
              },
              axisTicks: {
                  show: false,
              },
              title: {
                  text: "Waktu",
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
              },
          },
          yaxis: {
              show: true,
              labels: {
                  show: true,
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
                  formatter: function (value) {
                      return '⚡ ' + value;
                  }
              },
              title: {
                  text: "Watt",
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
              },

          },
          series: [series1],
          chart: {
              sparkline: {
                  enabled: false
              },
              height: "100%",
              width: "100%",
              type: "area",
              fontFamily: "Inter, sans-serif",
              dropShadow: {
                  enabled: false,
              },
              toolbar: {
                  show: false,
              },
          },
          tooltip: {
              enabled: true,
              x: {
                  show: false,
              },
          },
          fill: {
              type: "gradient",
              gradient: {
                  opacityFrom: 0.55,
                  opacityTo: 0,
                  shade: "#1C64F2",
                  gradientToColors: ["#1C64F2"],
              },
          },
          dataLabels: {
              enabled: false,
          },
          stroke: {
              width: 6,
          },
          legend: {
              show: true,
              position: 'top',
              horizontalAlign: 'right',
          },
          grid: {
              show: false
          }
      }
      if (document.getElementById("chart-3") && typeof ApexCharts !== 'undefined') {
          const chart3 = new ApexCharts(document.getElementById("chart-3"), plotOptions3);
          chart3.render();

          var resetCssClasses = function (activeEl) {
              var els = document.querySelectorAll('button')
              Array.prototype.forEach.call(els, function (el) {
                  el.classList.remove('active')
              })

              activeEl.target.classList.add('active')
          }

          document
              .querySelector('#p3_today')
              .addEventListener('click', function (e) {
                  resetCssClasses(e)

                  chart3.zoomX(
                      new Date('15 Aug 2023').getTime()
                  )
              })

          document
              .querySelector('#p3_one_week')
              .addEventListener('click', function (e) {
                  resetCssClasses(e)

                  chart3.zoomX(
                      new Date('15 Aug 2022').getTime(),
                      new Date('15 Aug 2023').getTime()
                  )
              })

          document
              .querySelector('#p3_one_month')
              .addEventListener('click', function (e) {
                      resetCssClasses(e)

                      chart3.zoomX(
                          new Date('15 Jul 2023').getTime(),
                          new Date('15 Aug 2023').getTime()
                      )
                  }
              )
      }
  }


  // PLOT 4
  {
      let series1 = {
          name: "Bill VPP-1",
          data: {{ bill_vpp1 | tojson | safe }}
      };

      let series2 = {
          name: "Bill VPP-2",
          data: {{ bill_vpp2 | tojson | safe }}
      };

      let series3 = {
          name: "Bill VPP-3",
          data: {{ bill_vpp3 | tojson | safe }}
      };

      let plotOptions4 = {
          xaxis: {
              type: 'datetime',
              labels: {
                  show: true,
                  offsetY: -5,
                  offsetX: 15,
                  datetimeUTC: false,
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'py-4 text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  }
              },
              axisBorder: {
                  show: false,
              },
              axisTicks: {
                  show: false,
              },
              title: {
                  text: "Waktu",
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
              },
          },
          yaxis: {
              show: true,
              labels: {
                  show: true,
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
                  formatter: function (value) {
                      return 'Rp.' + value;
                  }
              },
              title: {
                  text: "Rupiah",
                  style: {
                      fontFamily: "Inter, sans-serif",
                      cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                  },
              },

          },
          series: [series1, series2, series3],
          chart: {
              sparkline: {
                  enabled: false
              },
              height: "100%",
              width: "100%",
              type: "area",
              fontFamily: "Inter, sans-serif",
              dropShadow: {
                  enabled: false,
              },
              toolbar: {
                  show: false,
              },
          },
          tooltip: {
              enabled: true,
              x: {
                  show: false,
              },
          },
          fill: {
              type: "gradient",
              gradient: {
                  opacityFrom: 0.55,
                  opacityTo: 0,
                  shade: "#1C64F2",
                  gradientToColors: ["#1C64F2"],
              },
          },
          dataLabels: {
              enabled: false,
          },
          stroke: {
              width: 6,
          },
          legend: {
              show: true,
              position: 'top',
              horizontalAlign: 'right',
          },
          grid: {
              show: false
          }
      }
      if (document.getElementById("chart-4") && typeof ApexCharts !== 'undefined') {
          const chart4 = new ApexCharts(document.getElementById("chart-4"), plotOptions4);
          chart4.render();

          var resetCssClasses = function (activeEl) {
              var els = document.querySelectorAll('button')
              Array.prototype.forEach.call(els, function (el) {
                  el.classList.remove('active')
              })

              activeEl.target.classList.add('active')
          }

          document
              .querySelector('#p4_today')
              .addEventListener('click', function (e) {
                  resetCssClasses(e)

                  chart4.zoomX(
                      new Date('15 Aug 2023').getTime()
                  )
              })

          document
              .querySelector('#p4_one_week')
              .addEventListener('click', function (e) {
                  resetCssClasses(e)

                  chart4.zoomX(
                      new Date('15 Aug 2022').getTime(),
                      new Date('15 Aug 2023').getTime()
                  )
              })

          document
              .querySelector('#p4_one_month')
              .addEventListener('click', function (e) {
                      resetCssClasses(e)

                      chart4.zoomX(
                          new Date('15 Jul 2023').getTime(),
                          new Date('15 Aug 2023').getTime()
                      )
                  }
              )
      }
  }
</script>
{% endblock script %}
