<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Dashboard - Virtual Power Plant</title>

    {% assets 'css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    <link
      rel="icon"
      type="image/png"
      href="{{ url_for ('static', filename='assets/logo.png') }}"
    />
  </head>
  <body class="font-inter bg-gray-50 dark:bg-gray-800">
    {% include 'snippets/header.html' %}
    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
      <div
        id="main-content"
        class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900"
      >
        {% block content %}{% endblock content %}

        <!--prettier-ignore-->
        {% include 'snippets/footer.html' %}
      </div>
    </div>

    <script src="{{ url_for ('static', filename='node_modules/flowbite/dist/flowbite.min.js') }}"></script>
    {% block script %}{% endblock script %}
  </body>
</html>
