<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Login - Virtual Power Plant</title>

        {% assets 'css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
        {% endassets %}

        <link rel="icon" type="image/png" href="{{ url_for ('static', filename='assets/logo.png') }}"/>
    </head>
    <body
        class="font-inter bg-gray-50 dark:bg-gray-800">
        <!-- prettier-ignore -->
        {% block content %}{% endblock content %}

        <script src="{{ url_for ('static', filename='node_modules/flowbite/dist/flowbite.min.js') }}"></script>
        {% block script %}{% endblock script %}
    </body>
</html>
